<div class="layout layout--stretch gap--large">
  {% if events.size > 0 %}
  <div class="flex flex--col flex--stretch gap--small flex--center-y">
    <img src="{{ events.first.performers.first.image }}" class="image image-dither" height="300" />
    <div class="text--center">
      <div><span class="title title--medium my--3">{{ events.first.short_title }}</span></div>
      <div><span class="label">{{ events.first.datetime_local | date: '%-I:%M %p %A, %B %-d, %Y' }}</span></div>
      <div><span class="description">{{ events.first.venue.name }}</span></div>
      <div><span class="description">{{ events.first.venue.display_location }}</span></div>
    </div>
  </div>
  {% if events.size > 1 %}
  <div class="flex flex--col flex--stretch">
    <div><span class="label label--small label--underline">Upcoming Dates</span></div>
    <table class="table table--condensed">
    {% for event in events limit: 6, offset: 1 %}
      <tr>
        <td colspan="4"><span class="title title--small">{{ event.short_title }}</span></td>
      </tr>
      <tr>
        <td><span class="label label--small">{{ event.datetime_local | date: '%-I:%M %p %A, %B %-d, %Y' }}</span></td>
        <td><span class="label label--small">{{ event.venue.display_location }}</span></td>
      </tr>
    {% endfor %}
    </table>
  </div>
  {% endif %}

  {% else %}
    <div class="text--center py--10">
      <div><span class="title title--large clamp--none">No Scheduled Events</span></div>
      <div><span class="description">Query: {{ trmnl.plugin_settings.custom_fields_values.seatgeek_query }}</span></div>
    </div>
  {% endif %}
</div>

<div class="title_bar">
  <img class="image image-stroke" src="data:image/svg+xml;base64,{{ seatgeek_logo | base64_encode }}" />
  <span class="title">Upcoming Events</span>
  <span class="instance">{{ trmnl.plugin_settings.instance_name }}</span>
</div>
